html body{
  font-family: sans-serif;
  background: #F2EFE4;
}
.playbar{
   background: #F2EFE4;
   width: 100%;
   padding:10px 10px 0 10px;
}
.list-group{
  background-color: #F2EFE4;
  padding:0 1em;
  margin-bottom: 64px;
}
a.btn.disabled{
  color: grey;
  border-color: grey;
}
a.btn-sm{
    padding: .01rem .2rem;
}
.users img{
  width: 50px;
}
.users .user{
  padding: 5px 5px;
}
a.btn.disabled.btn-playing{
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
.current{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
}